# Build
bin/
dist/
out/

# Test
coverage.out

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
terraform.tfvars.json
terraform.log
.platform/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
out/
platform.yaml

report.md
.task/
.env

.cursorrules

# Ignore build binaries and linters
cakd
cakd-agent
.golangci.bck.yml
golangci-lint-2.12.2-linux-amd64/cakd-agent
golangci-lint-2.12.2-linux-amd64/
