apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: [[ .Metadata.Name ]]
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/[[ .Metadata.Owner ]]/[[ .Metadata.Name ]]
    targetRevision: HEAD
    path: helm
  destination:
    server: https://kubernetes.default.svc
    namespace: [[ .Metadata.Name ]]
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
