# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store

# CAKD Platform Internal
.platform/

# Java / Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
*.jar
*.war

# Build
bin/
out/
dist/
