apiVersion: v2
name: [[ .Service.Name ]]
description: A Helm chart for Kubernetes
type: application
version: 0.1.0
appVersion: "1.0"
# Removed direct database dependency here to simplify V1 since backing resources
# can be shared. For now, we will just rely on external provisioned backing resources
# or assume the IaC provisions them. If you want bitnami charts, you'd need logic.
